@model CourseProject.Models.Swimmer
<h2>Add Your Profile</h2>
<form asp-action="AddProfile">
    <input asp-for="@Model.SwimmerId" type="hidden" />
    <label asp-for="SwimmerName"></label>
    <input asp-for="SwimmerName" />
    <br />
    <button type="submit">Add Profile</button>
</form>
<p><a asp-action="Index">Back to swimmer home</a></p>