@model IEnumerable<CourseProject.Models.Lesson>
@{
    if (Model.Count() < 1)
    {
        <p>No lesson in database yet.</p>
    }
    else
    {
        <h3>All Lessons</h3>
        <table border="1">
            <tr>
                <th>Lesson ID</th>
                <th>Skill Level</th>
                <th>Tuition</th>
            </tr>
            @foreach (var lesson in Model)
            {
        <tr>
            <td>@lesson.LessonId</td>
            <td>@lesson.SkillLevel</td>
            <td>@lesson.Tuition</td>
        </tr>
            }
        </table>
        }
    }


        <p><a asp-controller="Admin" asp-action="Home">Admin Home</a></p>
        <p> &copy; 2020 - Team Quatro</p>