@model IEnumerable<CourseProject.Models.Enrollment>

<h2>Progress Reports</h2>
@{
    if (Model.Count() < 1)
    {
        <p>No reports yet.</p>
    }
    else
    {
        <h3>All Reports</h3>
        <table border="1">
            <tr>
                <th>Swimmer ID</th>
                <th>Session ID</th>
                <th>Report </th>
            </tr>
            @foreach (var enrollment in Model)
            {
        <tr>
            <td>@enrollment.SwimmerId</td>
            <td>@enrollment.SessionId</td>
            <td>@enrollment.ProgressReport</td>
        </tr>
            }
        </table>
    }
}
<p><a asp-action="Index">Back to swimmer home</a></p>

