@model CourseProject.Models.Admin

<h2> Add a new role </h2>
<form asp-controller="Admin" asp-action="AllRole" method="post">
    <label asp-for="AdminRole">Name</label>
    <input asp-for="AdminRole" />
    <button type="submit">Add Role</button>
</form>
<p><a asp-action="Home">Back to Admin Home</a></p>

<p><a asp-controller="Admin" asp-action="AllRole">Back to All Roles</a></p>


<p> &copy; 2020 - Team Quatro</p>







