@model CourseProject.ViewModels.RoleAddUserRoleViewModel
<p> Assign a role to @Model.User.UserName</p>

<form asp-controller="Admin" asp-action="AddUserRole"
      method="post">
    <div asp-validation-summary="All"></div>
    <input asp-for="@Model.User.Id" type="hidden" />
    <label asp-for="Role"></label>
    <select asp-for="Role"
            asp-items="@Model.RoleList"></select>
    <br />
    <button type="submit">Assign Role</button>
</form>
<p><a asp-controller="Account" asp-action="AllUser">
    Back to user list.</a></p>
