@model IEnumerable<CourseProject.Models.Admin>
<p><a asp-controller="Admin" asp-action="AddRole">Add A Role</a></p>
<h2>All Roles</h2>


<p><a asp-controller="Admin" asp-action="">Admin Home</a></p>
<p> &copy; 2020 - Team Quatro</p>