
<h1>Admin Home</h1>
<p><a asp-controller="Role" asp-action="AllRole">Show all rolls</a></p>
<p><a asp-controller="Role" asp-action="AddRole">Add a role</a></p>
<p><a asp-controller="Account" asp-action="AllUser">Assign user to a role</a></p>
<p><a asp-controller="Admin" asp-action="">Show all lessons</a></p>
<p><a asp-controller="Admin" asp-action="">Add a lesson</a></p>
<br />
<p><a asp-controller="Account" asp-action="Login">*Login Page*</a></p>

<p> &copy; 2020 - Team Quatro</p>