<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Swim School</title>
    <p><a asp-controller="Admin" asp-action="Home">***Temporary Admin Home Page Link***</a></p><!-- temporary admin home page link. -->
</head>
<body>
    @RenderBody()
</body>
</html>