@using System.Security.Claims;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Swim School</title>
    <!--<p><a asp-controller="Admin" asp-action="Home">***Temporary Admin Home Page Link***</a></p><!-- temporary admin home page link. -->
</head>
<body>
    @if(this.User.Identity.IsAuthenticated)
    {
        <div>Current User: @this.User.Identity.Name</div>
        <form method="post" asp-controller="Account" asp-action="Logout">
            <input type="submit" value="Logout" />
        </form>
    }
    @RenderBody()
</body>
</html>