@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>
<p><a asp-action="Register">Add a user</a></p>
@{ 
    if (Model.Count() < 1)
    {
        <p> No User in database yet.</p>
    }
    else
    {
        <h2>All Users </h2>
        <table border="1">
            <tr>
                <th>User Name</th>
                <th>Add Role</th>
            </tr>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td><a asp-controller="Role"
                           asp-action="AddUserRole"
                           asp-route-id="@user.Id">
                        Add a role</a></td>
                </tr>
            }
        </table>
    }
}
<p><a asp-controller="Admin" asp-action="">Admin Home</a></p>
<p> &copy; 2020 - Team Quatro</p>