@model CourseProject.ViewModels.AccountLoginViewModel
    
<h1>User Login</h1>
<form asp-action="Login" method="post">
    <div asp-validation-summary="All"></div>
    <label asp-for="Email">Email</label>
    <input asp-for="Email" />
    <span asp-validation-for="Email"> </span>
    <br />
    <label asp-for="Password">Password</label>
    <input asp-for="Password" />
    <br />
    <button type="submit">Log In</button>
</form>
<h5>
    New swimmer? <a asp-action="Register">Register here</a>
</h5>



<p> &copy; 2020 - Team Quatro</p>