@model CourseProject.ViewModels.AccountRegisterViewModel

<h1>User Registration</h1>
<form asp-action="Register" method="post">
    <div asp-validation-summary="All"></div>
    <label asp-for="Email"></label>
    <input asp-for="Email" />
    <span asp-validation-for="Email"></span>
    <br />
    <label asp-for="Password"></label>
    <input asp-for="Password" />
    <span asp-validation-for="Password"></span>
    <br />
    <label asp-for="ConfirmPassword">Confirm Password</label>
    <input asp-for="ConfirmPassword" />
    <span asp-validation-for="ConfirmPassword"></span>
    <br />
    <button type="submit">Register</button>
</form>
<p> &copy; 2020 - Team Quatro</p>