@model CourseProject.Models.Admin

<h1>User Registration</h1>
<form asp-controller="Account" asp-action="Login" method="post">
    <label asp-for="Email">Email Address</label>
    <input asp-for="Email" />
    <br />
    <label asp-for="Password">Password</label>
    <input asp-for="Password" />
    <br />
    <label asp-for="Password">Confirm Password</label>
    <input asp-for="Password" />
    <br />
    <button type="submit">Register</button>
</form>
<h5>
    <a asp-action="Login">Back to Login</a>
</h5>






<p> &copy; 2020 - Team Quatro</p>