<h2>Registration Success </h2>

<p>Thank you for registering at 3S. Your role will be assigned shortly. </p>

<p><a asp-controller="Admin" asp-action="Home">Admin Home</a></p>


<p> &copy; 2020 - Team Quatro</p>