@model Microsoft.AspNetCore.Identity.IdentityRole
<form asp-controller="Role"
      asp-action="AddRole" method="post">
    <label asp-for="Name"></label>
    <input asp-for="Name" />
    <br />
    <button type="submit">Add Role</button>
</form>
