@model Microsoft.AspNetCore.Identity.IdentityRole

    <h2> Add a new role </h2>
<form asp-controller="Role"
      asp-action="AddRole" method="post">
    <label asp-for="Name"></label>
    <input asp-for="Name" />
    <br />
    <button type="submit">Add Role</button>
</form>
<p><a asp-controller="Admin" asp-action="Home">Back to Admin Home</a></p>

<p><a asp-controller="Role" asp-action="AllRole">Back to All Roles</a></p>


<p> &copy; 2020 - Team Quatro</p>