@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model CourseProject.Models.Session
<form asp-controller="Coach" asp-action="AddSession" method="post">
    <label asp-for="SessionId"></label>
    <input asp-for="SessionId" />
    <br />
    <label asp-for="SeatsAvailable"></label>
    <input asp-for="SeatsAvailable" />
    <br />
    <input asp-for="CoachId" type="hidden" />
    <br />
    <button type="submit">Add Session</button>
</form>
