@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<h1>Coach Home</h1>
<p><a asp-action="AddProfile"> Add a Profile</a></p>
<p><a asp-action="AddSession"> Add a Session</a></p>
<p><a asp-action="ReportByCoach"> Write a progress report for a session </a></p>
