<h1>Coach Home</h1>
<p><a asp-action="AddProfile"> Add a Profile</a></p>
<p><a asp-action="AllLesson"> Add a Session</a></p>
<p><a asp-action="SessionByCoach"> Write a progress report for a session </a></p>
